# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a436a00eef00fdac9d0d8a8
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a436a00eef00fdac9d0d8a8
